FT42_CLIENT_ID=
FT42_CLIENT_SECRET=
FT42_API_BASE_URL=https://api.intra.42.fr
FT42_CAMPUS_NAME=Warsaw
FT42_CAMPUS_ID=
FT42_CURSUS_NAME=42cursus
FT42_CURSUS_ID=
FEATURED_LOGIN=mafzal
PORT=3000
FRONTEND_ORIGIN=http://localhost:4200
CACHE_TTL_SECONDS=300
AUTO_REFRESH_SECONDS=300
REQUEST_CONCURRENCY=4
LOG_LEVEL=info
